html
  head
    title= title
    link(rel='stylesheet', href='/prism.css')
    link(rel='stylesheet', href='/style.css')
  body
    header
      h1= title
      div.jtoolbar
        div.jtoolbar-item
          a(href='/hist/'+escape(title)) History
        div.jtoolbar-item
          a(href='/raw/'+escape(title)) Download
    pre.line-numbers
      code(class=lang)= message
    script(src='/prism.js')
