html
  head
    title= title
    link(rel='stylesheet', href='/prism.css')
    link(rel='stylesheet', href='/style.css')
  body
    header
      h1= 'history of ' + title
    pre.line-numbers
      code.language-none= message
    script(src='/prism.js')
