html
  head
    title= title
    link(rel='stylesheet', href='/prism.css')
    link(rel='stylesheet', href='/style.css')
  body
    header
      h1= 'history of ' + title
    div.code-toolbar
      pre.line-numbers.language-none
        code.language-none!= message
          span.line-numbers-rows
            each val, index in message.split('\n')
              if index
                span
