html
  head
    title= title
    link(rel='stylesheet', href='prism.css')
    link(rel='stylesheet', href='style.css')
  body
    header
      h1= title
      div.jtoolbar
        div.jtoolbar-item
          a(href='#') History
        div.jtoolbar-item
          a(href='#') Download
    pre.line-numbers
      code.language-java !{message}
    script(src='prism.js')
