html
  head
    title= title
    style(type="text/css").
      body {
        color: white;
        background-color: black;
      }
    link(rel='stylesheet', href='prism-dark.css')
  body
    pre !{message}
    a(href='https://technicallyrural.ca/2017/02/20/expressjs-with-typescript-2-on-ubuntu/') suite
